nav{
  border-bottom: #fff 2px solid;

}

.bg-blue{
  background-color:#081529;
}

.bg-grey{
  background-color: #f0f0f0;
}

.bg-yellow{
  background-color:#febb2e ;
}

.logo-rey{
  height: 34px;
  width: 223px;
}

.merch-banner-text{
  font-weight: 900;
  color: #252525;
  letter-spacing: 10px;
  text-align: center;
}

.merch-banner-subtext{
  font-weight: 900;
  color: #252525;
  line-height: 18px;
  letter-spacing: 3px;
  text-align: center;
}

.bg-home-publico{
  background-image: url("../src/bg-home-public.jpeg");
  background-size: cover;

}

.w-45{
  width: 49% !important;
}

.w-49{
  width: 49%;
}


.fecha-card{
  width: 90%;
}

.fecha-card .date{
width: 15%;
}

.fecha-card .locacion{
  width: 80%;
  }

  .shadow-navbar{
    background-color: #2b2b2b;
  }
  

  .img-carousel{
    height: 200px;
  }
  
  .thumb{
    display: none !important;
  }
  
  .container-services{
    width: 100%;
    display: flex;
    align-items: center;
  
  }
  
.border-bottom-white{
  border-bottom: #fff 2px solid;

}

  .title-section{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .title-section h3{
    font-weight: bold;
  }
  
  .subtitle-section{
    width: 50%;
    margin: auto;
    border-bottom: #2b2b2b 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .subtitle-section p{
    color: #2b2b2b;
    font-weight: bold;
    border-bottom: #2b2b2b 2px solid;
    padding-bottom: 5px;
    width: 40%;
  }
  
  .img-carousel-shows{
    height: 400px;
    width: 300;
  }


  .img-carousel {
    width:  400px;
    height: 400px;
    object-fit: cover;
  }
  
  .carousel-fan{
    width: 40vh;
  }

  .container-services{
    width: 100%;
    display: flex;
    align-items: center;
  
  }
 
  .thumbs-wrapper{
    display: none !important;
  }

  .thumb{
    display: none !important;
  }

  

    .text-shadow {
      text-shadow: 0 2px 4px rgba(0,0,0,0.10);
    }
  
    .text-shadow-md {
      text-shadow: 0 4px 8px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.08);
    }
  
    .text-shadow-lg {
      text-shadow: 0 15px 30px rgba(0,0,0,0.11), 0 5px 15px rgba(0,0,0,0.08);
    }
  
    .text-shadow-none {
      text-shadow: none;
    }
  

    .video-container{
      width:550px; 
      height:315px;
    }


    .bg-bio-publico{
      background-image: url("../src/bg-home-public.jpeg");
      background-position:center;
      background-repeat: no-repeat;
      background-size: cover;
    }

@media(max-width: 480px) {

  .bg-home-publico{
    background-image: url("../src/alef-home.png");
    background-position:center;
  }
  
  .hide-element{
    display: none;
  }

  .logo-rey{
    height: 25px;
    width: 119px;
  }

  .video-container{
    width:300px; 
    height:315px;
  }

  
}